@model List<Holidays>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Holidays</h1>
<div class="text-center">
    <a class="btn btn-success" href="/Holidays/New">Add</a>

</div>
<br />
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (Holidays item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Date.ToString("dd/MM/yyyy")</td>
            <td>
                @Html.ActionLink("Remove", "Remove", new { id = item.id } ,
            new { @class = "btn btn-danger",
            onclick = $"return confirm('Are you sure you want to delete {item.Name} form Holidays?')"
            })
                <a class="btn btn-warning" href="/Holidays/Edit/@item.id">Edit</a>
            </td>
        </tr>


    }

</table>



