@model Holidays
@{
    ViewData["Title"] = "New";
}

<h1 class="text-center">Add New Holiday</h1>

<form method="post" action="\Holidays\AddNewHoliday">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class=" text-danger"></span>
    </div>
    <div>
        <label asp-for="Date"></label>
        <input asp-for="Date" type="date" class="form-control" />
        <span asp-validation-for="Date" class=" text-danger"></span>
    </div>
    <br />
    <div class="text-center">
        <input type="submit" class="btn btn-success" value="Add" />
    </div>
</form>
@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
